* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, Sans-serif;
  background-image: url(/images/photography.png);
  color: #333;  
}

html, body {
  height: 100%;
}
/* http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

/* no links should be underlined */
a {
  text-decoration: none;
  color: #b77843;
}

.button {
  font-size:12px;
  font-family:Verdana;
  font-weight:normal;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border:1px solid #337fed;
  padding:5px 15px;
  text-decoration:none;
  background:-moz-linear-gradient( center top, #3d94f6 10%, #1e62d0 95% );
  background:-ms-linear-gradient( top, #3d94f6 10%, #1e62d0 95% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(10%, #3d94f6), color-stop(95%, #1e62d0) );
  background-color:#3d94f6;
  color:#ffffff;
  display:inline-block;
  text-shadow:1px 1px 0px #1570cd;
  -webkit-box-shadow:inset 1px 1px 0px -50px #97c4fe;
  -moz-box-shadow:inset 1px 1px 0px -50px #97c4fe;
  box-shadow:inset 1px 1px 0px -50px #97c4fe;
}.button:hover {
  background:-moz-linear-gradient( center top, #1e62d0 10%, #3d94f6 95% );
  background:-ms-linear-gradient( top, #1e62d0 10%, #3d94f6 95% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(10%, #1e62d0), color-stop(95%, #3d94f6) );
  background-color:#1e62d0;
}.button:active {
  position:relative;
  top:1px;
}


#new-link {

}

#tags {
  margin-top: 5px;
}

/* a link that has both classes. Overrides the previous declaration */
.button.highlighted {
  background-color: #b77843;
}

header {  
  height: 40px;
  background-color: black;
  color: white;
  display: flex; /* http://learnlayout.com/flexbox.html */
  padding: 0 20px;
}

  /* every immediate child to be vertically centered */
  header > * {
    margin: auto 0;
  }
  header #logo {    
    display: flex;   
    margin-right: 20px;   
  }

  header a {
    color: white;
  }

  header #user-links {
    flex: 1; /* http://learnlayout.com/flexbox.html */
    -webkit-flex: 1;
    text-align: right;  
  }

  header #user-links > * {
    display: inline-block;
  }

  header #user-links #welcome-message {
    font-size: 14px;
  }

#container {
  background-color: white;
  margin: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 10px;
}

.link {
  background-color: #EEE;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 10px inherit;
  padding: 15px 15px;  
  position: relative; /* necessary for absolute positioning of the stars */
}
  .link .star {
    position: absolute; /* absolute, relative to the first parent that's relative */
    font-size: 15px;
    right: 10px;
    top: 15px;
    color: black;
    cursor: pointer;
  }

  .link a.title {
    letter-spacing: 1px;    
  }

  .link .description {
    margin: 10px inherit;
  }

  .link .source {    
    float: right; /* http://learnlayout.com/float.html and the next 4 sections */  
    font-size: 12px;
  }
    .link .favs {    
    float: left; /* http://learnlayout.com/float.html and the next 4 sections */  
    font-size: 12px;
  }

.flash {
  text-align: center;
  margin: 5px;
  padding: 5px;  
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}

  .flash.notice {
    background-color: rgba(67,183,120,0.75);
  }

  .flash.error {
   background-color: rgba(169,29,42,0.75); 
  }

.tag {
  font-size:12px;
  font-family:Verdana;
  font-weight:normal;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
  border:0px solid #dcdcdc;
  padding:2px 4px;
  text-decoration:none;
  background:-moz-linear-gradient( center top, #ededed 10%, #dfdfdf 95% );
  background:-ms-linear-gradient( top, #ededed 10%, #dfdfdf 95% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(10%, #ededed), color-stop(95%, #dfdfdf) );
  background-color:#ededed;
  color:#858cb3;
  display:inline-block;
  text-shadow:-50px -50px 0px #ffffff;
  -webkit-box-shadow:inset -50px -50px 0px -50px #ffffff;
  -moz-box-shadow:inset -50px -50px 0px -50px #ffffff;
  box-shadow:inset -50px -50px 0px -50px #ffffff;
}.tag:hover {
  background:-moz-linear-gradient( center top, #dfdfdf 10%, #ededed 95% );
  background:-ms-linear-gradient( top, #dfdfdf 10%, #ededed 95% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(10%, #dfdfdf), color-stop(95%, #ededed) );
  background-color:#dfdfdf;
}.tag:active {
  position:relative;
  top:1px;
}



h1 {
  font-size: 22px ;
  margin-bottom: 5px;
  margin-top: 20px;
}

form {
  text-align: left;
}

  form p {
    margin: 10px 0;
  }

  form input[type="text"], form input[type="password"] {
    border: 1px solid black;
    font-size: 16px;
    width: 400px;
  }

footer {
  display: flex;
  background-color: rgba(0,0,0,0.2);  
}

  footer > * {
    margin: auto inherit;
  }

  footer img {
    /* http://stackoverflow.com/questions/10658475/3px-extra-height-on-a-div-with-an-image-inside-it */
    vertical-align: top;
    height: 70px;
    width: auto;
  }

  footer #technologies {
    -webkit-flex: 1;
    flex: 1;
    font-size: 12px;
  }

  footer p {
    padding: 5px 25px;
  }

  /* http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
  footer, .push {
    height: 70px;
  }