<h1>Password reset</h1>
<div>Please enter your email to receive password reset link</div>

<form action='/users/passwordreset' method="post"> 
  Email: <input name="email" type="text">
  <input type="submit" value="Send">
</form>