<form action='/users/reset_success' method='post'>
  Email: <input name="email" type="text" value="<%= params[:email] %>">
  Password: <input name="password" type="text">
  Password Confirmation: <input name="password_confirmation" type="text">
  <input name="token" type="hidden" value="<%= params[:password_token] %>">
  <input type="submit" value="Set new password">
</form>