<% if @tag %>
  <h1>All links tagged <%= @tag.text %></h1>
<% elsif !@links.empty? %>
  <h1>Saved links</h1> 
<% end %>

<% if @links.any? %>
  <ul id='links'>
      <% @links.each do |link| %>
      <%= partial :link, :locals => {:link => link, :user => User.first(:id => session[:user_id])}  %>
    <% end %>
  </ul>
<% end %>

<% if @tags %>
  <h1>Search by Tag:</h1>
  <ul id='tags'>
    <% @tags.each do |tag| %>
      <%= partial :tag, :locals => {:tag => tag}  %>
    <% end %>
  </ul>
<% end %>

<% if !@tags && @links.empty? %>
  <h1>Nothing to display. You are probably our first user.</h1>
  <% end %>